.outer {
    background: lightgray;
    height: 300px;
    position: relative;
}

.inner {
    background: black;
    color: white;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 180px;
    right: 0;
    left: 0;
    text-align: center;
}